body {
  background-image: url(immagini/background.jpg);
  background-size: 100%;
}

header, nav{
  text-align: center;
}

.logo{
  width: 200px;
  margin-top: 80px;
}

h1{
  color: #00dd00;
}

nav{
  background-color: #00dd00;
  padding: 10px;
  margin-left: 300px;
  margin-right: 300px;
}

.menu{
  font-size: 10px;
}

.monopattino1{
  margin-left: 300px;
  font-size: 20px;
  margin-top: 20px;
  color: white;
}

#p1{
  font-size: 15px;
  margin-top: 5px;
}

#p2{
  color: white;
  margin-left: 300px;
  font-size: 15px;
  margin-top: -12px;
}

.anna1{
  background-color: #f5b453;
  margin-top: -12px;
  margin-left: 300px;
  margin-right: 870px;
  padding: 10px;
  border-radius: 4px;
}

.anna2{
  background-color: #1ec31e;
  margin-top: -12px;
  margin-left: 300px;
  margin-right: 650px;
  padding: 10px;
  border-radius: 4px;
}

.anna3{
  background-color: #be4141;
  margin-top: -12px;
  margin-left: 300px;
  margin-right: 1000px;
  padding: 10px;
  border-radius: 4px;
}
